
* {
    font-size: 10px;
}
         /*---body---*/
body {
    background: #4c1741;
}
h2 {
    font-size: 2rem;
    color: #76e5fc !important;
}
p  {
    font-size: 2rem;
    color: #76e5fc !important;
}
.container {
    background: #5c2751;
}
       /*---navbar---*/
.navbar-brand {
    font-size: 3rem;
    color: #76e5fc !important;
}
.navbar-nav .nav-link {
    font-size: 2rem;
    color: #76e5fc !important;
}
.navbar-light .navbar-toggler {
    color: #76e5fc;
    border-color: #76e5fc;
}
.navbar-nav .nav-link:hover {
   color: #99ffff !important;
}
              /*---homepage---*/   
.home-page {
    font-size: 2rem;
    color: #9dacff;
}
.main-tagline em{
    font-size: 5rem;
    font-weight: 200;
    color: #4bc0d9;
    margin: .5rem auto;
    text-align: center;
}
ul li  {
    font-size: 2rem;
    color: #76e5fc !important;
}

             /*---footer---*/
.footer {
    font-size: 1.5rem;
    color: #76e5fc !important;
}
.bordered {
    border: solid 1px #76e5fc;
    border-radius: 1rem;
}

.fa {
    font-size:3rem;
    color: #76e5fc;
}
.social-link {
    font-size: 2rem;
    color: #76e5fc !important;
}
            /*---image----*/
.image img{
    margin: 1rem auto;
    display: block;
    width: 100%;
    height: auto;
}
.md-form label {
    font-size: 2rem;
    color: #76e5fc !important;
}