* {
    font-size: 10px;
}

body {
    background: #4c1741;
}
                     /*------navbar------*/
.navbar-brand {
    font-size: 3rem;
}

.navbar-nav .nav-link {
    font-size: 2rem;
    color: #76e5fc !important;
}

.navbar-light .navbar-toggler {
    color: #76e5fc;
    border-color: #76e5fc;
}

.navbar-light .navbar-toggler {
    color: #76e5fc;
    border-color: #76e5fc;
}
.navbar-nav .nav-link:hover {
    font-size: 3rem;
}

.home-page {
    font-size: 2rem;
    color: #9dacff;
}

.main-tagline em{
    font-size: 5rem;
    font-weight: 200;
    color: #4bc0d9;
    margin: .5rem auto;
    text-align: center;
}
 h2 {
    font-size: 2rem;
    color: #76e5fc !important;
}
p {
    font-size: 2rem;
    color: #76e5fc !important;
}